body {
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;

  & > header {
    grid-area: header;
  }
  & > aside {
    grid-area: aside;
  }
  & > main {
    grid-area: main;
  }

  & > footer {
    grid-area: footer;
  }
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.5em;
  color: #fff7f0;
  margin-bottom: 0.5em;
}
h2 {
  background-color: #654b35;
}

body {
  background-color: #ba9a7e;
}

.image-section {
  text-align: center;
  margin-top: 20px;
}

.brownie-bild {
  width: 300px;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
}

.beschreibung {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  color: rgb(153, 112, 65);
}

main section {
  background-color: #c19f83;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
