body {
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.5em;
  color: #fff7f0;
  margin-bottom: 0.5em;
}
h2 {
  background-color: #654b35;
}

body {
  background-color: #ba9a7e;
}

.image-section {
  text-align: center;
  margin-top: 20px;
}

.brownie-bild {
  width: 300px;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
}
