:root {
  --primary: #654b35; /* Überschriften */
  --secondary: #ba9a7e; /* Hintergrund */
  --accent: #fff7f0; /* Helle Schrift*/
  --box-bg: #c19f83; /* Hintergrund der Boxen */
  --text-color: #333;
}

/* Grunfdlagen */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: var(--secondary);
  color: var(--text-color);
  line-height: 1.6;

  /* Grid Layout */
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 20px;
  min-height: 100vh;

  max-width: 1200px;
  margin: 0 auto;
}

/* Zuweisung der Bereiche */
.header {
  grid-area: header;
  text-align: center;
}
.nav {
  grid-area: nav;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  text-align: center;
  margin-top: auto;
  padding: 20px;
}

/* Header*/
h1 {
  font-family: "Playfair Display", serif;
  color: var(--accent);
  margin-bottom: 1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
main section {
  background-color: var(--box-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(200, 132, 55, 0.1);
  margin-bottom: 20px;
  border-left: 5px solid var(--primary);
}

.brownie-bild {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  border: 4px solid var(--accent);
  display: block;
  margin: 0 auto 15px auto;
}

.beschreibung {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--primary);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
}

/* Navigation*/
.nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.nav a {
  text-decoration: none;
  background-color: var(--primary);
  color: var(--accent);
  padding: 12px 20px;
  border-radius: 8px;
  display: inline-block;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  transition: background-color 0.3s;
}

/* SVG Styling */
.icon {
  width: 24px;
  height: 24px;
  stroke: var(--accent); /* Nimm die Farbe der Schrift */
  fill: none;
}

/* Main Bereich Styling */
main section {
  background-color: var(--box-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-left: 5px solid var(--primary);
}

h2 {
  font-family: "Playfair Display", serif;
  color: var(--primary);
  margin-bottom: 10px;
}

/* Media Query für Desktop */
@media (min-width: 768px) {
  body {
    /* Desktop Layout*/
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
    grid-template-columns: 250px 1fr; /* Navi breite */
    padding: 30px;
  }

  h1 {
    font-size: 3.5em;
  }
}

body {
  background-color: var(--secondary);
  color: var(--text-color);
  line-height: 1.6;
}

.browniebild-unter {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 15px auto;
}
